<%- object = model_name(:ivar) -%>
= form_for <%= object %> do |form|

  %dl
<% wui.model.editable_attrs.each do |attribute| -%>
    %dt
      = form.label <%= attribute.name(:symbol) %>
    %dd
  <%- if attribute.assignable_values -%>
      = form.select <%= attribute.name(:symbol) %>, form.object.assignable_<%= attribute.name(:variables) %>
  <%- else -%>
    <%- case attribute.type -%>
    <%- when :string -%>
      = form.text_field <%= attribute.name(:symbol) %>
    <%- when :email -%>
      = form.email_field <%= attribute.name(:symbol) %>
    <%- when :password -%>
      = form.password_field <%= attribute.name(:symbol) %>
    <%- when :url -%>
      = form.url_field <%= attribute.name(:symbol) %>
    <%- when :integer -%>
      = form.number_field <%= attribute.name(:symbol) %>
    <%- when :money -%>
      = form.number_field <%= attribute.name(:symbol) %>
      €
    <%- when :text -%>
      = form.text_area <%= attribute.name(:symbol) %>, rows: 5
    <%- when :flag -%>
      = form.check_box <%= attribute.name(:symbol) %>
    <%- when :datetime -%>
      = form.date_field <%= attribute.name(:symbol) %>
    <%- end -%>
  <%- end -%>
<% end -%>

  .action-bar
    - cancel_path = <%= object %>.new_record? ? <%= wui.path(:index) %> : <%= wui.path(:show, object) %>

    .pull-right
      - if <%= object %>.persisted?
        = link_to "Destroy <%= model_name(:human) %>", <%= wui.path(:destroy, object) %>, method: :delete,
          class: 'btn btn-danger', data: { confirm: 'Really destroy?' }

    = form.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', cancel_path, class: 'btn btn-link'
