.action-bar.-main.btn-group
  = link_to 'Add <%= model_name(:human) %>', <%= wui.path(:new) %>, class: 'btn btn-default'
<% wui.custom_actions.select(&:collection?).each do |action| -%>
  = link_to '<%= action.name.humanize.titleize %>', <%= wui.path(action) %>, class: 'btn btn-default'
<% end -%>

%h1.page--title.-above-table
  <%= model_name(:humans).capitalize %>

- if <%= model_name(:ivars) %>.any?
  <%- object = model_name(:variable) -%>

  = table '<%= wui.model.label_attr.name(:human).titleize %>' do
    - <%= model_name(:ivars) %>.each do |<%= object %>|
      %tr(up-expand)
        %td(width='40%')
          = link_to <%= object %>, <%= object %>
        %td
          = link_to 'Edit', <%= wui.path(:edit, object) %>
          = link_to 'Destroy', <%= wui.path(:destroy, object) %>, method: :delete,
            data: { confirm: 'Really destroy?' }, title: "Destroy #{<%= object %>}"

- else
  %p.help-block
    No <%= model_name(:humans) %> found.
