!!!
%html
  %head
    %title
      <%= app_name.titlecase %>

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = query_diet_widget(bad_count: 15) if Rails.env.development?

    .layout

      .layout__head
        %h2 <%= app_name.titlecase %>
        <%- if navigation -%>
        = render_navigation Navigation.<%= navigation.name(:variable) %>
        <%- end -%>

      .layout__main
        =# render 'layouts/flashes'
        = yield

      .layout__tail
        powered by makandra
