!!!
%html
  %head
    %title
      <%= app_name.titlecase %>

    = csrf_meta_tags

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body
    = query_diet_widget(bad_count: 15) if Rails.env.development?

    .layout

      .layout__head
        %h2 <%= app_name.titlecase %>
      <%- if navigation -%>
        = render_navigation Navigation.<%= navigation.name(:variable) %>
      <%- end -%>
      <%- if authentication -%>
        - if signed_in?
          .current-user
            = link_to current_user.email, edit_user_path(current_user)
            = link_to 'Sign out', sign_out_path, method: :delete
      <%- end -%>

      .layout__main
        = render 'layouts/flashes'
        = yield

      .layout__tail
        powered by makandra
