!!!
%html
  %head
    %title
      <%= app_name.titlecase %>

    = csrf_meta_tags

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body{ data: {env: Rails.env} }
    = query_diet_widget(bad_count: 15) if Rails.env.development?

    .layout

      .layout__head
        %h2 <%= app_name.titlecase %>

      .layout__main
        = render 'layouts/flashes'
        .unpoly-content
          = yield

      .layout__tail
        powered by makandra
