= form_for <%= model_name(:ivar) %> do |form|

  %dl.controls
<% wui.model.attrs.each do |attribute| -%>
    %dt
      = form.label :<%= attribute.name %>
    %dd
<% case attribute.type -%>
<% when 'date', 'datetime' -%>
      = form.date_picker :<%= attribute.name %>
<% when 'text' -%>
      = form.text_area :<%= attribute.name %>, rows: 5
<% when 'integer' -%>
      = form.number_field :<%= attribute.name %>
<% when 'markdown' -%>
      = form.text_area :<%= attribute.name %>, rows: 15
<% when 'xxx_email' -%>
      = form.text :<%= attribute.name %>
<% when 'money' -%>
      = form.number_field :<%= attribute.name %>
      €
<% when 'flag' -%>
      = form.check_box :<%= attribute.name %>
<% else -%>
      = form.text_field :<%= attribute.name %>
<% end -%>
<% end -%>

  .tools
    = form.submit 'Save', class: 'tools__button is_primary'
    - cancel_path = <%= model_name(:ivar) %>.new_record? ? <%= wui.path(:index) %> : <%= wui.path(:show, model_name(:ivar)) %>
    = link_to 'Cancel', cancel_path, class: 'tools__button'
