= form_for <%= model_name(:ivar) %> do |form|

  %dl.controls
<% wui.model.attrs.each do |attribute| -%>
    %dt
      = form.label <%= attribute.name(:symbol) %>
    %dd
  <%- if attribute.assignable_values -%>
      = form.select <%= attribute.name(:symbol) %>, form.object.assignable_<%= attribute.name(:variables) %>
  <%- else -%>
    <%- case attribute.type -%>
    <%- when 'date', 'datetime' -%>
      = form.date_picker <%= attribute.name(:symbol) %>
    <%- when 'text' -%>
      = form.text_area <%= attribute.name(:symbol) %>, rows: 5
    <%- when 'integer' -%>
      = form.number_field <%= attribute.name(:symbol) %>
    <%- when 'markdown' -%>
      = form.text_area <%= attribute.name(:symbol) %>, rows: 15
    <%- when 'xxx_email' -%>
      = form.text <%= attribute.name(:symbol) %>
    <%- when 'money' -%>
      = form.number_field <%= attribute.name(:symbol) %>
      €
    <%- when 'flag' -%>
      = form.check_box <%= attribute.name(:symbol) %>
    <%- else -%>
      = form.text_field <%= attribute.name(:symbol) %>
    <%- end -%>
  <%- end -%>
<% end -%>

  .tools
    = form.submit 'Save', class: 'tools__button is_primary'
    - cancel_path = <%= model_name(:ivar) %>.new_record? ? <%= wui.path(:index) %> : <%= wui.path(:show, model_name(:ivar)) %>
    = link_to 'Cancel', cancel_path, class: 'tools__button'
