.title
  <%= names.human_plural.capitalize %>

.tools
  = link_to 'Add <%= names.human_singular %>', <%= routes.new %>, class: 'button'
<% wui.collection_actions.each do |action| -%>
  = link_to '<%= action.name.humanize.titleize %>', <%= routes.collection(action.name) %>, class: 'button'
<% end -%>

<% object_name = names.variable -%>
%table.items
  - @collection.each do |<%= object_name %>|
    %tr
      %td
        = link_to <%= object_name %>.to_s, <%= routes.show(object_name) %>, class: 'hyperlink'
      %td.items__actions
        = link_to 'Edit', <%= routes.edit(object_name) %>, class: 'items__action'
        = link_to 'Destroy', <%= routes.destroy(object_name) %>, method: :delete, class: 'items__action', confirm: 'Really destroy?'
